* {
  box-sizing: border-box;
}

body {
  background: url(assets/bg.png) no-repeat center center fixed; ;
  background-size: cover;
  font-family: "Karla", sans-serif;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-container{
  margin: 0;
  text-align: center;
  color: #293264;
}
.start-container > h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.start-container > p{
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.btn{
  background-color: #4d5b9e;
  color: #F5F7FB;
  border-radius: 15px;
  border: none;
  padding: 20px 0px;
  width: 100%;
  font: inherit;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn:hover{
  background-color: #293264;
}

